---
import MainLayout from '../presentation/layouts/MainLayout.astro';
import { AuthPageComponent } from '../presentation/features/auth/auth-page.component';
import { AuthParticlesBackgroundComponent } from '../presentation/features/auth/auth-particles-background.component';
---

<MainLayout title="BillFlow POS - Login">
  <div class="relative isolate min-h-screen flex items-center justify-center p-md lg:p-xl font-body-md text-on-surface antialiased overflow-x-hidden bg-surface">
    <AuthParticlesBackgroundComponent client:load />
    <AuthPageComponent client:load />
  </div>
</MainLayout>
