---
import MainLayout from '../presentation/layouts/MainLayout.astro';
import { AuthPageComponent } from '../presentation/features/auth/auth-page.component';
---

<MainLayout title="BillFlow POS - Login">
  <div class="bg-surface min-h-screen flex items-center justify-center p-md lg:p-xl font-body-md text-on-surface antialiased overflow-x-hidden">
    <AuthPageComponent client:load />
  </div>
</MainLayout>
