---
import MainLayout from '../presentation/layouts/MainLayout.astro';
import { ProductsPageComponent } from '../presentation/features/productos/products-page.component';
---

<MainLayout title="BillFlow - Product Management" lang="en">
  <div class="relative isolate min-h-[100dvh] overflow-hidden bg-background text-on-background">
    <div class="relative z-10">
      <ProductsPageComponent client:load />
    </div>
  </div>
</MainLayout>
